@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$limegreen: hsl(163, 72%, 41%);
$brightred: hsl(356, 69%, 56%);

$facebookColor: hsl(208, 92%, 53%);
$twitterColor: hsl(203, 89%, 53%);
$instagramColor: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtubeColor: hsl(348, 97%, 39%);

$darkToggleColor: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

$lightToggleColor: hsl(230, 22%, 74%);

$darkBg: hsl(230, 17%, 14%);
$darkTopBg: hsl(232, 19%, 15%);
$darkCardBg: hsl(228, 28%, 20%);
$darkSecondaryText: hsl(228, 34%, 66%);
$darkPrimaryText: hsl(0, 0%, 100%);

$lightBg: hsl(0, 0%, 100%);
$lightTopBg: hsl(225, 100%, 98%);
$lightCardBg: hsl(227, 47%, 96%);
$lightSecondaryText: hsl(228, 12%, 44%);
$lightPrimaryText: hsl(230, 17%, 14%);